* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

#navbar {
  display: flex;
  text-align: center;
  padding-top: 15px;
}

h1 {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

.container {
  display: flex;
  margin: 50px;
  padding: 0;
}

#introParagraph {
  background-color: #f0ead6;
  font-weight: 500;
  padding: 25px;
}

.footer {
  text-align: center;
  font-weight: 300;
  position: fixed;
  width: 100%;
}