/*general styles*/
* {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

#navbar {
  display: flex;
  text-align: center;
  padding-top: 15px;
}

h1 {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

.navbarContainer {
  display: flex;
  margin: 75px;
  padding: 0px;
}

/*index.html styles*/
#introParagraph {
  background-color: #f0ead6;
  font-weight: 500;
  padding: 25px;
  margin: 100px;
}

.footer {
  text-align: center;
  font-weight: 300;
  position: fixed;
  width: 100%;
}

/*projects.html styles*/
.projectsMainDiv>h1 {
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 75px;
}

/*this is the box where the pictures of the projects is going to go*/
.projectsDisplay {
  width: auto;
  min-height: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

/*code for the images*/
.projectsDisplay>img {
  height: 400px;
  width: auto;
}

.projectsDisplay>img:hover {
  transform: scale(1.1);
}